<p id="notice"><%= notice %></p>

<p>
  <strong>Op1:</strong>
  <%= @calculo.op1 %>
</p>

<p>
  <strong>Op2:</strong>
  <%= @calculo.op2 %>
</p>

<p>
  <strong>Operando:</strong>
  <%= @calculo.operador %>
</p>

<p>
  <strong>T0:</strong>
  <%= @calculo.t0 %>
</p>

<p>
  <strong>T1:</strong>
  <%= @calculo.t1 %>
</p>

<%= link_to 'Back', calculos_path %>
